body {
  color: #40514E;
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-size: 2rem;
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

a {
  color: #11999E;
  padding: 20px;
  margin: 50px auto 30px auto;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}

hr {
  border-top: 5px dotted #EAF6F6;
  width: 5%;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  margin : 100px auto;
}

.top-container {
  background-color: #d7f7f5;
  padding-top: 100px;
  margin-bottom: 30px;
}

.middle-container {
  color: #40514E;
  margin: 100px 0;
}

.bottom-container {
  margin-top: 80px;
  background-color: #66BFBF;
  padding: 30px 0;

}

.top-cloud {
  position: absolute;
  left: 880px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 230px;
}
.intro {
  width: 30%;
  margin: auto;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.computer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 50%;
}

.camera-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.pro {
  text-decoration: underline;
}
.getindescription {
  width: 40%;
  margin: auto;
  margin-bottom: 50px;
}
.butn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
  background-image: -o-linear-gradient(top, #11cdd4, #11999E);
  background-image: linear-gradient(to bottom, #11cdd4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;

}
